# Python 내장함수
---
파이썬 내장함수 살펴보기

##### 출처 : Python documantation 내장함수<br/>https://docs.python.org/ko/3/library/functions.html

---
#### bin(x)
정수 x를 '0b'가 앞에 붙은 이진 문자열로 변환합니다.<br/>
int 타입이 아닌 입력(float,string,list 등)이 들어가면 에러가 출력된다.<br/>
float 타입 정수가 입력되어도 에러가 출력됨<br/>
format을 이용해 바로 바꿀 수도 있다.

In [44]:
bin(14)

'0b1110'

In [48]:
bin(float(14))

TypeError: 'float' object cannot be interpreted as an integer

In [50]:
print(f'14를 정수로 바꾸면 {14:#b} 입니다.')
print('{0}은 정수는 14입니다.'.format(format(14,'#b')))

14를 정수로 바꾸면 0b1110 입니다.
0b1110은 정수는 14입니다.

---
#### chr(i)
유니코드 코드 포인트가 정수 i인 문자를 나타내는 문자열을 돌려줍니다.<br/>
0에서 1,114,111까지 범위의 int 타입 입력을 해당하는 유니코드 문자로 출력해준다.<br/>
ord()의 반대

#### ord(c)
하나의 유니코드 문자를 나타내는 문자열이 주어지면 해당 문자의 유니코드 코드 포인트를 나타내는 정수를 돌려줍니다.<br/>
유니코드 문자를 입력하면 해당 문자의 코드 포인트를 나타내는 정수를 출력해준다.(인터넷에서 아스키코드표, 유니코드표의 그것)<br/>
chr()의 반대

In [58]:
chr(8364)

'€'

In [61]:
ord('H')

72

In [66]:
ord('4')

52

In [70]:
chr(ord('H'))

'H'

In [71]:
ord(chr(8364))

8364

---
#### complex(real, imag)
real + imag\*1j 값을 가진 복소수를 돌려주거나 문자열 또는 숫자를 복소수로 변환합니다.<br/>
실수부와 허수부를 가진 숫자형, 복소수(complex) 타입으로 반환하기 위한 함수<br/>
숫자형은 실수부와 허수부를 입력, 문자열은 여백없이 단일 입력으로 사용할 수 있다.<br/>
float과 int의 연산에서 자동으로 float 타입으로 형변환 하는것과 마찬가지로 다른 숫자형과 연산을 시도하면 자동으로 complex 타입으로 변환해준다.

In [82]:
complex(13,43.3)

(13+43.3j)

In [83]:
complex('5+2j')

(5+2j)

In [84]:
type(complex(1,2))

complex

In [86]:
a = int(1)
b = float(3.14)
c = complex(12,8)

result = a+b+c
print(result)
print(type(result))

(16.14+8j)
<class 'complex'>

---
#### divmod(a,b)
복소수가 아닌 두 숫자를 인자로 받아 나눗셈의 몫과 나머지를 반환합니다.<br/>
a//b와 a%b의 결과를 반환함<br/>
예로 진수 변환 함수를 작성할 때 유용하게 사용할 수 있다.

In [106]:
print(divmod(15,7))
q,r = divmod(15,7)
print('몫 :',q)
print('나머지 :',r)

(2, 1)
몫 : 2
나머지 : 1

In [113]:
def change_base(n,b):
    c = ''
    while(n):
        n,r = divmod(n,b)
        c += str(r)
    return c[::-1]

print(change_base(15,2))
print(int(change_base(41,3),base=3))

1111
41